final/ClassCalendarFramework/ClassCalendarSvc/Service References/PS_SCHEDULE_WS/CHI_SR_CLSS_SCHD_SESSIONS_REQ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/services" xmlns:cust="http://ereg.oracle.com/2010/ERCustom" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element cust:entityName="CHI_SR_CLASS_SCHED_SESGRP_REQ" name="SESSIONGROUPS_REQUEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element cust:iskey="true" cust:label="Academic Institution" minOccurs="0" maxOccurs="1" default="CHICO" name="INSTITUTION">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:iskey="true" cust:label="Term" minOccurs="1" maxOccurs="1" name="TERM">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>