final/ClassCalendarFramework/ClassCalendarSvc/Service References/PS_SCHEDULE_WS/CHI_SR_CLSS_SCHD_SUBJECTS_RES.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/services" xmlns:cust="http://ereg.oracle.com/2010/ERCustom" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ClassSchedSubjResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element cust:entityName="CHI_SR_CLASS_SCHED_SUBJ_RESULT" minOccurs="0" maxOccurs="1" ref="ClassSchedSubjResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element cust:entityName="CHI_SR_CLASS_SCHED_SUBJECT" name="ClassSchedSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element cust:iskey="true" cust:label="Academic Institution" minOccurs="0" maxOccurs="1" name="INSTITUTION">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:iskey="true" cust:label="Term" minOccurs="0" maxOccurs="1" name="TERM">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:iskey="true" cust:label="Class Schedule Session Grp ID" minOccurs="0" maxOccurs="1" name="SESSION_GROUP">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="0" />
              <xs:totalDigits value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:iskey="true" cust:label="Subject Area" minOccurs="0" maxOccurs="1" name="SUBJECT">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:label="Short Description" minOccurs="0" maxOccurs="1" name="SUBJECT_SDESC">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:label="Description" minOccurs="0" maxOccurs="1" name="SUBJECT_LDESC">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:label="Formal Description" minOccurs="0" maxOccurs="1" name="SUBJECT_FDESC">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element cust:entityName="CHI_SR_CLASS_SCHED_SUBJ_RESULT" name="ClassSchedSubjResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element cust:iskey="true" cust:label="Academic Institution" minOccurs="0" maxOccurs="1" name="INSTITUTION">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:iskey="true" cust:label="Term" minOccurs="0" maxOccurs="1" name="TERM">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:iskey="true" cust:label="Class Schedule Session Grp ID" minOccurs="0" maxOccurs="1" name="SESSION_GROUP">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="0" />
              <xs:totalDigits value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:label="General Message" minOccurs="0" maxOccurs="1" name="SubjectResultMessage">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:label="Count" minOccurs="0" maxOccurs="1" name="SubjectResultCount">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="0" />
              <xs:totalDigits value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ClassSchedSubjects">
          <xs:complexType>
            <xs:sequence>
              <xs:element cust:entityName="CHI_SR_CLASS_SCHED_SUBJECT" minOccurs="0" maxOccurs="unbounded" ref="ClassSchedSubject" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>