final/ClassCalendarFramework/ClassCalendarSvc/Service References/PS_SCHEDULE_WS/CHI_SR_CLSS_SCHD_TERMS_RES.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/services" xmlns:cust="http://ereg.oracle.com/2010/ERCustom" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ClassSchedTermResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element cust:entityName="CHI_SR_CLASS_SCHED_TRM_RESULT" minOccurs="0" maxOccurs="1" ref="ClassSchedTermResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element cust:entityName="CHI_SR_CLASS_SCHED_TRM_RESULT" name="ClassSchedTermResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element cust:label="Term Search Result Message" minOccurs="0" maxOccurs="1" name="TermResultMessage">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:label="Count" minOccurs="0" maxOccurs="1" name="TermResultCount">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="0" />
              <xs:totalDigits value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:label="Entity Instance Id" minOccurs="0" maxOccurs="1" name="SCC_ENTITY_INST_ID">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:element>
        <xs:element name="ClassSchedTerms">
          <xs:complexType>
            <xs:sequence>
              <xs:element cust:entityName="CHI_SR_CLASS_SCHED_TRM" minOccurs="0" maxOccurs="unbounded" ref="ClassSchedTerm" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element cust:entityName="CHI_SR_CLASS_SCHED_TRM" name="ClassSchedTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element cust:iskey="true" cust:label="Term" minOccurs="1" maxOccurs="1" name="TERM">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:label="Short Description" minOccurs="0" maxOccurs="1" name="TERM_SDESC">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:label="Description" minOccurs="0" maxOccurs="1" name="TERM_LDESC">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element cust:label="Entity Instance Id" minOccurs="0" maxOccurs="1" name="SCC_ENTITY_INST_ID">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>