final/ClassCalendarFramework/ClassCalendarSvc/Service References/ValetStand/Attendant32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://emsdev.csuchico.edu/ADTS/AppValet/Stand/Attendant.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/noble.coder.pweatherby.AppValet" />
  <xs:element name="GetUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValetKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/noble.coder.pweatherby.AppValet" minOccurs="0" name="GetUserNameResult" nillable="true" type="q1:AppUserName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValetKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValetKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/noble.coder.pweatherby.AppValet" minOccurs="0" name="GetKeyStatusResult" type="q2:ValetKeyStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>